.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.App section {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 40px;
  position: relative;
}

.App .ContentBox {
  width: 70%;
  display: inline-block;
}

.App h2 {
  margin-top: 40px;
  color: #F3C809;
  text-transform: uppercase;
  font-weight: 700;
  /* font-size: 25px; */
}

.App h3 {
  text-align: left;
}

.App p {
  color: rgb(129, 129, 129);
  font-size: 20px;
}

.App .CompareWindow {
  margin-bottom: 60px;
  margin-top: 100px;
}

.App .CompareWindow h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.App .Header {
  background-color: #375BF8;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  text-align: left;
  padding-top: 30px;
  padding-left: 30px;
}

.App .Header p {
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding-bottom: 30px;
  margin-top: 0;
  font-weight: 200;
}

.App .Header h1 {
  margin-top: 0;
  font-weight: 1000;
  margin-bottom: 10px;
}

.App .Header .Baby {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 150px;
}

/* SECTION 1. NAMES POOL */

.App .Names-pool .CreateIcon {
  opacity: 0.8;
}

.App .Names-pool p {
  color: #F3C809;
}

.BigIcon {
  height: 100px;
}

/* SPEECH BUBBLES */

.App .Bubble {
  position: absolute;
  height: 250px;
}

.App .Names-pool .SpeechB1 {
  left:30px;
  top: 0;
}

.App .Names-pool .SpeechB2 {
  right:30px;
  top: 20px;
}

.App .Comparison .SpeechB3 {
  left:30px;
  top: 350px;
  height: 200px;
}

.App .Comparison .SpeechB4 {

  right:30px;
  top: 740px;
  height: 200px;
}

/* SECTION 2. DUELS OF NAMES */

.App .Comparison {
  background-color: #375BF8;
  color: white;
}

.App .Comparison .ContentBox h2 {
  color: white;
}

.App .Comparison .ContentBox p {
  color: white;
}

.App .Comparison .ContentBox .CompareWindow p {
  font-style: italic;
  font-size: 14px;
}

.App .Comparison .ResultsBtn {
  text-decoration: none;
  height: 40px;
  background-color: #F3C809;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
}

.App .Comparison .ResultsBtn:hover {
  opacity: 0.7;
}


/* SECTION 3. SEE YOUR TOP NAMES*/
/* .App .ResultsSection .ContentBox p {

} */

/* FOOTER */
.App .Footer {
  background-color: #375BF8;
  color: white;
  height: 60px;
}

.App .Footer p {
  color: white;
  margin: auto;
  line-height: 60px;
}



@media (min-width:992px) {
  .App .ContentBox {
    max-width: 900px;
  }
}

@media (max-width:768px) {}