.names{
    height: 80vh;
    width: 70%;
    margin: auto;
    margin-top: 30px;

}

.names h2 {
    margin-top: 0; 
    color: rgba(0, 0, 139, 0.678);
    text-transform: uppercase;
    font-weight: 400;
}

.names p {
    color: rgb(129, 129, 129);
}

.names input {
    margin-top: 40px;
    height: 20px;
    padding: 10px;
    font-size: 1em;
    
}

.names button {
    margin-left: 10px;
    height: 40px;
    background-color: #0066ffec;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    
}

.names button:hover {
    background-color: #003399e5;

}