ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000000;
    border-radius: 10px;
    min-height: 50px;
    padding-top: 20px;

}

ul li {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 16px;
    margin: 0px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 0.9em;
}

ul li:hover {

    background-color: pink;
    cursor: pointer
}