.NamesComparer {
    height: 200px;
    border: 30px solid rgba(0, 0, 139, 0.678);
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.NamesComparer .NameButton {
    cursor: pointer;
    font-size: 20px;
    padding: 15px 30px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.NamesComparer .NameButton:hover {
    background-color: rgb(205, 255, 192);
}

.NamesComparer .Swords {
    opacity: 0.7;
    height: 18px
}
