.NamesComparer {
    height: 200px;
    /* border: 5px solid #0934F3; */
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
}

.NamesComparer .NameButton {
    cursor: pointer;
    font-size: 20px;
    padding: 15px 30px;
    font-weight: 400;
    border: none;
    border: 2px solid #F3C809;
    border-radius: 10px;
    background-color: white
        /* #7994CB */
    ;
    color: #d6b003;
    font-family: 'Sniglet', cursive;
    /* flex-basis: 30%; */
    min-width: 30%;
    max-width: 400px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    max-width: 90%;
}

.NamesComparer .NameButton:hover {
    background-color: #94CB79;
    border: none;
    color: white;
}

.NamesComparer .Swords {
    opacity: 0.7;
    height: 20px;
    margin: 0 40px;
}

/* Jak się stylowało komponenty? */
.NamesComparer .Wrapper {
    position: absolute;
    bottom: 10px;
    width: 60%;
}


@media (max-width:520px) {

    .NamesComparer .NameButton {
        font-size: 16px;
        padding: 15px 30px;
        font-weight: 400;
    }
}