.App .ResultsSection {
    padding-top: 0px;
}


.Results {
    margin: 40px 0px;
}

.ButtonBox {
    background-color: #79BDCB;
    ;
    margin-bottom: 100px;
    padding-bottom: 40px;
}

.ResultsSection .ButtonBox button {
    text-decoration: none;
    height: 40px;
    background-color: #e6bd06;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.ResultsSection .ButtonBox button:hover {
    background-color: #94CB79;
}

.ResultsSection .ErrorMsg {
    color: rgb(172, 26, 26);
    font-size: 16px;
}